<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :start_datetime,"開催日時" %>
    <%= f.datetime_select :start_date %>
    <%#= f.select(:start_time, options_for_select([['00:00'], ['00:30'],['01:00'],['01:30'],['02:00'],['02:30'],['03:00'],['03:30'],['04:00'],['04:30'],['05:00'],['05:30'],['06:00'],['06:30'],['07:00'],['07:30'],['08:00'],['08:30'],['09:00'],['09:30'],['10:00'],['10:30'],['11:00'],['11:30'],['12:00'],['12:30'],['13:00'],['13:30'],['14:00'],['14:30'],['15:00'],['15:30'],['16:00'],['16:30'],['17:00'],['17:30'],['18:00'],['18:30'],['19:00'],['19:30'],['20:00'],['20:30'],['21:00'],['21:30'],['22:00'],['22:30'],['23:00'],['23:30'] ])) %>
  </div>

  <div class="field">
    <%= f.label :end_datetime,"終了日時" %>
    <%= f.datetime_select :end_datetime %>
  </div>

  <div class="field">
    <%= f.label :prefecture, "開催エリア" %>
    <%= f.select(:prefecture, options_for_select([[''],['東京都'], ['大阪府'],['神奈川県'],['愛知県'] ])) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
